
<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <!-- Настройка сервлетов -->
    <!-- RegisterServlet -->
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.example.migration.RegisterServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <!-- SearchRoutesServlet -->
    <servlet>
        <servlet-name>SearchRoutesServlet</servlet-name>
        <servlet-class>com.example.bookit.servlets.SearchRoutesServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SearchRoutesServlet</servlet-name>
        <url-pattern>/searchRoutes</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PurchaseTicketServlet</servlet-name>
        <servlet-class>com.example.bookit.servlets.PurchaseTicketServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PurchaseTicketServlet</servlet-name>
        <url-pattern>/purchase</url-pattern>
    </servlet-mapping>


</web-app>